<div class="container"  *ngIf="todosState$ | async as state" [ngSwitch]="state.dataState" >
    <ng-container *ngSwitchCase="TodosStateEnum.INITIAL">
      <div class="alert-info">
        Initial State
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="TodosStateEnum.LOADING">
      <div class="alert-info">
        Loading .....
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="TodosStateEnum.ERROR">
      <div class="alert-danger">
        {{state.errorMessage |json}}
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="TodosStateEnum.LOADED">
      <app-todo-list [state]="state"></app-todo-list> 
    </ng-container>
  </div>